@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --blue-color: #60a5fa
}

html{
  overflow-x: hidden;
}

body{
  background: #0a0a0a;
  overflow-x: hidden !important;
}

.mySwiper {
  padding-bottom: 50px !important;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev
{
  display: none !important;
}

.swiper-pagination-bullet{
  background-color: var(--blue-color)  !important;
}


.errorandLoading{
  margin: 50px auto 0 !important;
}


.select .MuiSvgIcon-root{
  color: white;
}

.MuiOutlinedInput-root{
  color: white !important;
}
.select fieldset{
  border: none
}





